<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="harsh.keshwala.com.coride">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_sample"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAbNFIGMVs9FNmM3mMSL0yLi0hi-icIDJQ" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DriverLoginActivity"
            android:label="@string/driver"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RiderLoginActivity"
            android:label="@string/rider"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DriverSignUpActivity"
            android:label="@string/driverSignUp"
            android:parentActivityName=".DriverLoginActivity" />
        <activity
            android:name=".RiderSignUpActivity"
            android:label="@string/riderSignUp"
            android:parentActivityName=".RiderLoginActivity" />
        <activity
            android:name=".DriverHomeActivity"
            android:label="@string/trips" />
        <activity
            android:name=".DriverCreateTrip"
            android:label="@string/addTrip"
            android:parentActivityName=".DriverHomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DriverAccountProfileActivity"
            android:label="@string/driverProfile"
            android:parentActivityName=".DriverHomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DriverAddCarActivity"
            android:label="@string/addCar"
            android:parentActivityName=".DriverHomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DriverEditTripActivity"
            android:label="@string/editTrip"
            android:parentActivityName=".DriverHomeActivity" />
        <activity
            android:name=".DriverTripDetailsActivity"
            android:label="@string/tripDetails"
            android:parentActivityName=".DriverHomeActivity" />
        <activity android:name=".RiderHomeActivity" />
        <activity android:name=".RiderAccountProfileActivity"></activity>
    </application>

</manifest>